{{ define "main" }}
  <div class="posts">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}
    {{ $paginator := .Paginate (where .Data.Pages "Type" $contentTypeName) }}

	<ul>
	  {{- $plural := .Data.Plural }}
	  {{- range $index, $term := .Data.Terms.Alphabetical }}
		<li><a href="{{ $.Site.LanguagePrefix }}/{{ $plural }}/{{ $term.Name | urlize }}">{{ $term.Name }}</a> ({{ $term.Count }})
	  {{- end }}
	</ul>

    {{ partial "pagination.html" . }}
  </div>
{{ end }}

